code[class*="language-"], pre[class*="language-"] {
	-moz-tab-size:0;
	font-size:12px;
}
pre {
	max-height:220px;
}
.title, .box-left, .box-right, .popup, .home a {
	font-family: "Fira Sans","Fira Sans","Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
}
.wrapper {
	padding:10px;
}
.wrapper .title {
	text-align: center;
	margin:0 auto;
	margin-top: -5px;
	width:500px;
	font-size:1.2em;
}
.back_, .next_ {
	cursor:pointer;
	font-size: 20px;
}
.content,.hide {
	display:none;
}
.show {
	display:block;
}
.box-left {
	float:left;
}
.box-right {
	float:right;
	background:#fff;
	position: fixed;
    right: 10px;
}
label {
	display: inline-block;
	width: 280px;
	font-size: 18px;
}
/* Fake Device code of Mozilla Brick */
.mobile-view {
	width:240px;
	height:360px;
	margin:0 auto;
	border-color:#eee;
	border-width: 40px 15px 40px;
	border-radius: 20px;
	border-style: solid;
	overflow-x: hidden;
}

/* Fix */
.mobile-view > *:only-child:not(brick-appbar):not(brick-layout) {
    margin-left:7px;
}

brick-card {
	font-size: 8.5em;
    padding-top: 50%;
    text-align: center;
	text-shadow: 1px 1px 4px #808080;
}

brick-flipbox {
	height: 360px;
	overflow: hidden;
}