.title, .box-left, .box-right {
	font-family: "Fira Sans","Fira Sans","Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
}
.wrapper {
	padding:10px;
}
.wrapper .title {
	text-align: center;
	margin:0 auto;
	margin-top: -5px;
}
.back, .next {
	cursor:pointer;
	font-size: 20px;
}
.content {
	
}
.box-left {
	float:left;
}
.box-right {
	float:right;
}
label {
	display: inline-block;
	width: 140px;
	font-size: 18px;
}
/* Fake Device code of Mozilla Brick */
.mobile-view {
	width:320px;
	height:480px;
	margin:0 auto;
	border-color:#eee;
	border-width: 40px 15px 40px;
	border-radius: 20px;
	border-style: solid;
}

/* Fix */
x-appbar header {
	width:100%;
}